{% extends 'core/layouts/auth_base.html' %}

{% block title %}UPBCash • Iniciar sesion{% endblock %}

{% block content %}
<form class="form" method="post" action="{% url 'index' %}">
  {% csrf_token %}

  {% if error_message %}
  <p class="flash flash--error">{{ error_message }}</p>
  {% endif %}

  <input class="input" type="text" name="identifier" placeholder="Matricula / Correo" value="{{ request.POST.identifier|default:'' }}" required />
  <input class="input" type="password" name="password" placeholder="Contrasena" required />

  <a class="link-inline" href="{% url 'recuperar' %}">Olvidaste tu contrasena?</a>

  <button class="btn btn--primary w-full" type="submit">Iniciar sesion</button>

  <p class="helper">No tienes cuenta? <a href="{% url 'registro' %}">Registrarse</a></p>
  <a class="btn btn--ghost w-full" href="{% url 'registro_invitado' %}">Entrar como invitado</a>
</form>
{% endblock %}
