{% extends 'core/layouts/auth_base.html' %}

{% block title %}UPBCash • Recuperar contrasena{% endblock %}

{% block content %}
<form class="form">
  <p class="helper helper--lead">Ingresa tu correo y te enviaremos un enlace para restablecer tu contrasena.</p>
  <input class="input" type="email" placeholder="Correo institucional" required />
  <button class="btn btn--primary w-full" type="submit">Enviar correo de recuperacion</button>
  <a href="{% url 'index' %}" class="link-inline">Volver a iniciar sesion</a>
</form>
{% endblock %}
